<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Geocoding Flask App</title>
</head>
<body>
	<h1>Calculate distance from Moscow Ring Road to the input location</h1>
	<h2>Please Input your Location</h2>
	<form action="#" method="post">
		<p>Location : </p>
		<p><input type="text" name="location"></p>
		<p><input type="submit" value="submit"></p>
	</form>
	<p>Your Input Location = {{inputLocation}}</p>
	{% if measuredDistance == -1 %}
		<p>Location not found, please input another location</p>
	{% elif inputLocation != 'Not Found' %}
    	<p>Distance between Moscow Ring Road  to {{inputLocation}} is {{measuredDistance}} kilometers</p>
	{% endif %}
	
	
</body>
</html>